body {
    padding-top: navbarHeight;
    font-family: 'Inter', sans-serif;
    background-color: primary;
  }
  
  
  .navbar {
  
      font-size: 1.8rem;
      line-height: .9em;
    }
    
  
  
  .modal.offcanvas-menu {
    width: 320px;
    max-width: 80%;
    transition: transform .2s ease-in-out;
    transform: translateX(-100%);
  }
    .modal-content {
      height: inherit;
      color: secondary;
     
    }
  
      
        .nav-link {
          color: secondary;
          text-align: center;
        }
      
    
    .show {
      transform: translateX(0);
    }