.card-img-top{
    align-items: center;
    max-width: 270px;
    margin: 0px 10px 0px 15px;
}

.card{
    border-radius: 30px !important;
    margin: 10px;
    
}

input:focus, input[type]:focus {
    border-color: #a933be;
    box-shadow: 0 1px 1px #a933be inset, 0 0 8px  #a933be;;
    outline: 0 none;
}
.form-1{
    width: 700px;
    margin: 10px;
    position: absolute;
    left: 600px;
}

.modal-title {
    color: white;
}
.offcanvas-header {
    background-color: black;
}
.btn-close {
    background-color: white !important;
}
.form-contact{
    margin: 0px;
    font-size: revert
    
}
.cold-md-3 {
    margin-bottom: 10px !important;
   
}

.card {
    max-width: 300px !important;
    margin: 30px 1px 10px 75px;
}
.tarjeta {
    padding: 0px !important;
    width: 400px;
    border-radius: 30px !important;
    margin-top: 100px !important;
}

.d-flex {
    width: 220px;
    margin: 10px 10px 10px 900px;
    position: absolute;
    left: 600px;
}

h2{
    margin: 50px;
    text-align: center;
}

.row-cols-md-5>* {
    flex: 0 0 auto;
    width: 19%;
}

